.tabDiv {
    background-color: var(--text-color);
    height: 81px;
    width: 248px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-content: center;
    align-items:center;
    justify-content: space-around;
    position: absolute;
    margin-left: 20px;
    
}

.arrow {
    background-color: var(--theme-color);
    height: 36px;
    width: 36px;
    border-radius: 10px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.balanceDiv {
    font-family: Suisse Intl;
    color: #11101c80;
    font-size: 12px;
    margin-bottom: 5px;
}

.balance {
    font-family: Suisse Intl;
    color: var(--bg-color);
    font-size: 18px;
    font-weight: bolder;

}

.percentDiv {
    font-family: Suisse Intl;
    color: #02B15A;
    background-color: #02b15a26;
    font-size: 12px;
    height: 22px;
    width: 58px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 10px;
}


@media screen and (min-width: 768px)
{ 
    .tabDiv {
        height: 121px;
        width: 303px;
        /* padding: 10px 10px 35px; */
        margin-left: 30px;
        
    }
    .percentDiv {
        font-size: 18px;
        height: 30px;
        width: 70px;
        

    }

    .balanceDiv {
       
        font-size: 16px;
        margin-bottom: 15px;
    }
    
    .balance {
    
        font-size: 24px;
        font-weight: bolder;
    
    }

    .arrow {
        height: 43px;
        width: 43px;
    }
}
