.form {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}

.formHeader {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  font-size: 56px;
  font-weight: 400;
  line-height: 64.85px;
  letter-spacing: -0.02em;
  text-align: left;
}

.subHeader {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.53px;
  letter-spacing: -0.02em;
  text-align: left;

  color: #FAFAFA66;

}

.button {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}

.anchor {
  color: #FAFAFA;
}

.anchor:hover,
.anchor:focus {
  color: #0EF387;
}

.loginWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formContainer
  {
    display:flex;
    flex-direction: column;
  }

@media screen and (min-width: 1349px)
{
  .loginWrapper
  {
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    gap: 120px;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
  background: radial-gradient(circle closest-side,var(--text-color) 94%,#0000) right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}
.loader::before {
  font-family: 'Suisse Intl';
  content: "Sign In...";
  line-height: 1em;
  color: var(--subText-color);
  background: inherit;
  background-image: radial-gradient(circle closest-side,var(--theme-color) 94%, var(--text-color));
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l24{
  100%{background-position: left}
}