.icon {
    fill: currentColor;
    stroke: currentColor;
}

.error {
    fill: #e119;
}

.error:hover {
    fill: #e11;
}

.theme {
    background-color: var(--theme-color);
    padding: 16px;
    border-radius: 13px;
}