.container {
    padding: 59px 100px;
    display: grid;
    grid-template-columns: 5fr 5fr;
    gap: 44px;
}

.subContainer {
    background-color: #171719;
    border-radius: 30px;
}

.title {
    font-size: 38px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: left;

    margin-bottom: 15px;
}

.subText {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.53px;
    letter-spacing: -0.02em;
    text-align: left;

    color: var(--subText-color);
}

.form {
    padding: 40px;
}

.radio {
    color:var(--theme-color)
}

.date {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.label {
    color: var(--text-color)
}

.subDate {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FAFAFA66;


    border: 1px solid #FAFAFA33;
}
