.container {
    display: grid;
    
    @media screen and (min-width:768px) {
        grid-template-areas: 
        'text text text text text text'
        'amount amount amount amount amount amount'
        'chart chart chart chart chart chart'
        'form form form form form form';
        padding: 59px 100px;
        gap: 40px 44px;
    }

    @media screen and (min-width:1158px) {
        grid-template-areas: 
        'text text text form form form'
        'amount amount amount form form form'
        'chart chart chart form form form';
        padding: 59px 100px;
    }
}

.subContainer {
    background-color: #171719;
    border-radius: 30px;
}

.text {
    grid-area: text;
}

.amount {
    grid-area: amount;
}

.chart {
    grid-area: chart;
}

.form {
    grid-area: form;
}

.title {
    font-size: 38px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: left;

    margin-bottom: 15px;
}

.subText {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.53px;
    letter-spacing: -0.02em;
    text-align: left;

    color: var(--subText-color);
}