.title {
    font-weight: 500;
    font-size: 32px;
    text-align: left;
    margin-bottom: 25px;
    margin-top: 20px;
  }
  
  .titleFi {
   composes: title;
   color: var(--theme-color);
   text-decoration: underline;
  }
  
  .description {
    font-size: 14px;
    text-align: left;
    color:  var(--subText-color);
    margin-top: 10px;
  }
  
  .titleLog {
    /* display: flex;
    justify-content: left; */
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    letter-spacing: 2px;
    color: var(--subText-color);
    margin: 0;
    padding: 0;
  
  }