/* .link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.linkActive {
  composes: link;
  font-weight: 800;
  color: #e84a5f;
} */

.nav {
  display: flex;
  gap: 20px; 
}
.link {
  text-decoration: none;
}

.linkActive {
  text-decoration: none;
}

.button {
  /* padding: 20px 20px; */
  font-family: Suisse Intl;
  margin-top: 30px;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 1px solid var(--border);
  border-radius: 40px;
  cursor: pointer;
  width: 145px;
  height: 47px;
}

.buttonActive {
  composes: button;
  color: var(--bg-color);
  background-color: var(--theme-color);
}

.buttonActive:hover {
  background-color: var(--hoverBtn-color);
}

.button:hover{
  border: 1px solid var(--theme-color);
}

.button:focus {
  background-color: var(--theme-color);
  color: var(--bg-color);
}

@media screen and (min-width: 1439px)
{
  .button {
    margin-top: 50px;
  }
}